# Ignore build output
.next
out

# Ignore node modules
node_modules

# Ignore package files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore coverage reports
coverage

# Ignore public assets
public

# Ignore environment files
.env*

# Ignore TypeScript declaration files
*.d.ts

# Ignore Markdown files
*.md

# Ignore service worker
sw.js

# Ignore IDE/Editor folders
.vscode
.idea
